<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/core.min.js" integrity="sha512-t8vdA86yKUE154D1VlNn78JbDkjv3HxdK/0MJDMBUXUjshuzRgET0ERp/0MAgYS+8YD9YmFwnz6+FWLz1gRZaw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="module" src="teste3.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Página de Registo</title>
</head>

<body>
	<h1>Registo</h1>
	<form action="/" id="registerForm">
		<label for="username">Nome de utilizador:</label>
		<input type="text" id="username" name="username"><br><br>

		<label for="email">Email:</label>
		<input type="email" id="email" name="email"><br><br>

		<label for="password">Palavra-passe:</label>
		<input type="password" id="password" name="password"><br><br>

		<label for="password2">Confirmar Palavra-passe:</label>
		<input type="password" id="password2" name="password2"><br><br>

		<label for="certificate">Introduza o seu certificado:</label>
		<input type="file" id="certificate" name="certificate"><br><br>

		<input type="submit" value="Submit">Registar</button>
	</form>
	<br>
	<a href="registar.html">Já tenho Conta!</a><br>
	<a href="redefinir_conta.html">Redefinir Dados de Acesso</a>
	
</body>
</html>